.pic-col{
	margin-left: auto;
	margin-right: auto;
}

.picsize{
	width: 800px;
	height: auto;
}

@media(max-width: 576px){
	.picsize{
	width: 400px;
	height: auto;
}
}

#h1{
	background-color: black;
	color: white;
	text-align: center;
}

@media(max-width: 576px){
	#h1{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 30px;
}
}

.locs{
	flex-wrap: wrap;
}